---
# Only the main Sass file needs front matter (the dashes are enough)
permalink: /OEBPS/main.css
---
@charset "utf-8";

body{
	font: 1em serif;
}

h1{
	text-align: center;
}

.prefont{
	font-family: monospace;
}
