---
# Only the main Sass file needs front matter (the dashes are enough)
permalink: /OEBPS/style.css
---
@charset "utf-8";

body{
	font: 1em serif;
//	padding: 0;
	margin-left:2%;
	margin-right:2%;
	margin-top:2%;
	margin-bottom:2%;
}

h1{
	text-align: center;
}

p{
	text-indent: .3in;
}

