---
# Only the main Sass file needs front matter (the dashes are enough)
permalink: /OEBPS/style.css
---
@charset "utf-8";

body{
	font: 1em serif;
//	padding: 0;
	margin-left:2%;
	margin-right:2%;
	margin-top:2%;
	margin-bottom:2%;
}

h1{
	text-align: center;
}

p{
	text-indent: .3in;
	margin: 0;
}

.underline{
	text-decoration: underline;
}

table, td, tr, th{
	padding: .5em;
	text-align: center;
	border: 1px solid #000;
	border-collapse: collapse;
}

blockquote{
	//margin-left: 2in;
	padding: 5px;
	border: 1px solid #aaa;
	background-color: #ccc;
}
