---
# Only the main Sass file needs front matter (the dashes are enough)
permalink: /OEBPS/css/style.css
---
@charset "utf-8";

body {
	font: 1em serif;
	// margin: 2%;
}

h1 {@extend .txtcenter;}

img {max-width: 100%;}

a {text-decoration:none;}

span .underline {text-decoration: underline;}

span .capitular {
	float: left;
	line-height: 1;
	font-size: 4em;
	@extend .fweight;
	margin-right: 0.1em;
}

// h1, h2, h3 {text-transform: initial;}

p {
	text-indent: .3in;
	margin: 0;
}

//Tabelas
table, td, tr, th {
	padding: .5em;
	@extend .txtcenter;
	border: 1px solid #000;
	border-collapse: collapse;
}

// Citações
blockquote {
	// margin-left: 2in;
	@extend .p-indent;
	padding: 5px;
	border-color: #fff #fff #fff #aaa;
	@extend .bleft;
	//background-color: #ccc;

	p{@extend .p-indent;}
}

// Pullquotes ou Olho
aside {
	width:10em;
	margin:0.25em 0.75em 0.25em 0;
	padding:0.5em;
	border:5px solid #1B486F;
	border-width:5px 0;
	text-align:left;
	color:#333;
	font:italic 1.4em/1.3 Georgia;

	p{@extend .p-indent;}

	.left { @extend .fleft; }

	.right { @extend .fright; }
}

// Notas
div {
    margin-bottom: 15px;
    padding: 4px 12px;
}


	.danger {
		background-color: #ffdddd;
		border-color: #fff #fff #fff #f44336;
		@extend .bleft;
	}

.danger::before{
	content: "☠️  Perigo:";
	@extend .fweight;
}

	.success {
		background-color: #ddffdd;
		border-color: #fff #fff #fff #4CAF50;
		@extend .bleft;
	}

	.info {
		background-color: #e7f3fe;
		border-color: #fff #fff #fff #2196F3;
		@extend .bleft;
	}

.info::before{
	content: "ℹ️  Informação:";
	@extend .fweight;
}

	.warning {
		background-color: #ffffcc;
		border-color: #fff #fff #fff #ffeb3b;
		@extend .bleft;
	}

.warning::before{
	content: "⚠️  Atenção:";
	@extend .fweight;
}

// section{page-break-before:always;}

// Poesia
pre.poesia{
	text-indent: -2em;
	margin-left: 2em;
}

// Paragrafo no centro
.txtcenter{text-align: center;}

.p-indent{text-indent: 0;}
.fleft{float: left;}
.fright{float: right;}
.bleft{border-left: 6px solid;}
.fweight{font-weight: bold;}
